.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100vh;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  background: var(--token-6Lhw5mK6wolF);
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.freeBox__rtxvl {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-jgohepLVeKvh);
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  justify-self: flex-start;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px;
}
.text__zzaio {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  position: relative;
  align-self: center;
  font-weight: 900;
  font-size: 18px;
  min-width: 0;
  padding: 15px 60px 15px 15px;
}
.freeBox__cTw92 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 5px 0px 0px;
}
.img__dChHr {
  object-fit: contain;
  max-width: 25%;
}
.img__dChHr > picture > img {
  object-fit: contain;
}
.text___2ZNu8 {
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: 10px;
  padding: 2px;
}
.freeBox___0S3T {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-self: flex-start;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px;
}
.img___7Nn4 {
  position: relative;
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.freeBox___4ZU {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
}
.freeBox__ubKYw {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  border-radius: 10px;
  padding: 8px;
}
.freeBox___78Lo7 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  min-width: 0;
  border-radius: 15px;
  padding: 8px;
}
.freeBox__ivw3A {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.img___8Kbz9 {
  object-fit: cover;
  max-width: 40%;
  border-radius: 200px;
}
.img___8Kbz9 > picture > img {
  object-fit: cover;
}
.text___42BXb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  align-self: center;
  font-weight: 900;
  font-size: 20px;
  min-width: 0;
}
.freeBox__ajUBb {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 10px;
  padding: 8px;
}
.freeBox__kTUb {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  min-width: 0;
  border-radius: 15px;
  padding: 8px;
}
.freeBox__h4Ja3 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.img___0Isr1 {
  object-fit: cover;
  max-width: 40%;
  border-radius: 200px;
}
.img___0Isr1 > picture > img {
  object-fit: cover;
}
.text__mYkfi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  align-self: center;
  font-weight: 900;
  font-size: 20px;
  min-width: 0;
}
.freeBox__tesou {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  min-width: 0;
  border-radius: 10px;
  padding: 8px;
}
.freeBox___2NWdf {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  min-width: 0;
  border-radius: 15px;
  padding: 8px;
}
.freeBox__qlA3 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.img__jNuLt {
  object-fit: cover;
  max-width: 40%;
  border-radius: 200px;
}
.img__jNuLt > picture > img {
  object-fit: cover;
}
.text__oy9Du {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  align-self: center;
  font-weight: 900;
  font-size: 20px;
  min-width: 0;
}
.freeBox__s9RSi {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 10px;
  padding: 8px 8px 205px;
}
.freeBox__nn7Yg {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  min-width: 0;
  border-radius: 15px;
  padding: 8px;
}
.freeBox__rtqZa {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.img__a5Fdx {
  object-fit: cover;
  max-width: 40%;
  border-radius: 200px;
}
.img__a5Fdx > picture > img {
  object-fit: cover;
}
.text___53T7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  align-self: center;
  font-weight: 900;
  font-size: 20px;
  min-width: 0;
}
.freeBox__tVFk {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  border-radius: 10px;
  padding: 8px 8px 120px;
}
.freeBox__yaGd {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  min-width: 0;
  display: none;
  border-radius: 15px;
  padding: 8px;
}
.freeBox__cCxG {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.img___7713M {
  object-fit: cover;
  max-width: 40%;
  border-radius: 200px;
}
.img___7713M > picture > img {
  object-fit: cover;
}
.text__g4Hox {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  align-self: center;
  font-weight: 900;
  font-size: 20px;
  min-width: 0;
}
.freeBox__rw3MP {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  flex-wrap: nowrap;
  align-content: stretch;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
}
.text__z6Xx7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 900;
  color: #009cff;
  font-size: 20px;
  min-width: 0;
  padding: 5px;
}
.sideEffect:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
