@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&display=swap");

.plasmic_tokens {
  --token-glhj65t4GZ54: #979797;
  --plasmic-token-unnamed-style-token: var(--token-glhj65t4GZ54);
  --token-d4bv4UfY93WG: rgba(83, 83, 83, 0.85);
  --plasmic-token-unnamed-style-token-2: var(--token-d4bv4UfY93WG);
  --token-kZZtlhhRqzs6: #2d2d2dd9;
  --plasmic-token-unnamed-style-token-3: var(--token-kZZtlhhRqzs6);
  --token-6CXr61GPCJ2G: rgba(83, 83, 83, 0.85);
  --plasmic-token-unnamed-style-token-4: var(--token-6CXr61GPCJ2G);
  --token-Df9CekkDkRNf: #2d2d2dd9;
  --plasmic-token-unnamed-style-token-5: var(--token-Df9CekkDkRNf);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-gbkiV6h0IyHX_font-family: "Inter", sans-serif;
  --mixin-gbkiV6h0IyHX_font-size: 14px;
  --mixin-gbkiV6h0IyHX_font-weight: 400;
  --mixin-gbkiV6h0IyHX_font-style: normal;
  --mixin-gbkiV6h0IyHX_color: #535353;
  --mixin-gbkiV6h0IyHX_text-align: left;
  --mixin-gbkiV6h0IyHX_text-transform: none;
  --mixin-gbkiV6h0IyHX_line-height: 1.5;
  --mixin-gbkiV6h0IyHX_letter-spacing: normal;
  --mixin-gbkiV6h0IyHX_white-space: pre-wrap;
  --mixin-gbkiV6h0IyHX_user-select: text;
  --mixin-gbkiV6h0IyHX_text-decoration-line: none;
  --mixin-gbkiV6h0IyHX_text-overflow: clip;
  --mixin-ylXFnVtgHQah_color: #000000;
  --mixin-ylXFnVtgHQah_font-weight: 600;
  --mixin-ylXFnVtgHQah_font-size: 40px;
  --mixin-ylXFnVtgHQah_line-height: 1;
  --mixin-ylXFnVtgHQah_letter-spacing: -1px;
  --mixin-ylXFnVtgHQah_white-space: pre-wrap;
  --mixin-PVj3ro7wD2Cc_color: #000000;
  --mixin-PVj3ro7wD2Cc_font-size: 30px;
  --mixin-PVj3ro7wD2Cc_font-weight: 600;
  --mixin-PVj3ro7wD2Cc_line-height: 1.1;
  --mixin-PVj3ro7wD2Cc_white-space: pre-wrap;
  --mixin-c3R7MMJV3hGJ_color: #0070f3;
  --mixin-c3R7MMJV3hGJ_white-space: pre-wrap;
  --mixin-3z26F4EP7C7__color: #000000;
  --mixin-3z26F4EP7C7__font-size: 24px;
  --mixin-3z26F4EP7C7__font-weight: 600;
  --mixin-3z26F4EP7C7__line-height: 1.2;
  --mixin-3z26F4EP7C7__white-space: pre-wrap;
  --mixin-WCN1Bb5DWxOA_color: #000000;
  --mixin-WCN1Bb5DWxOA_font-size: 20px;
  --mixin-WCN1Bb5DWxOA_font-weight: 600;
  --mixin-WCN1Bb5DWxOA_line-height: 1.3;
  --mixin-WCN1Bb5DWxOA_white-space: pre-wrap;
  --mixin-kAJg5bHGOOkI_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-kAJg5bHGOOkI_border-bottom-color: #dddddd;
  --mixin-kAJg5bHGOOkI_border-bottom-style: solid;
  --mixin-kAJg5bHGOOkI_border-bottom-width: 1px;
  --mixin-kAJg5bHGOOkI_border-left-color: #dddddd;
  --mixin-kAJg5bHGOOkI_border-left-style: solid;
  --mixin-kAJg5bHGOOkI_border-left-width: 1px;
  --mixin-kAJg5bHGOOkI_border-right-color: #dddddd;
  --mixin-kAJg5bHGOOkI_border-right-style: solid;
  --mixin-kAJg5bHGOOkI_border-right-width: 1px;
  --mixin-kAJg5bHGOOkI_border-top-color: #dddddd;
  --mixin-kAJg5bHGOOkI_border-top-style: solid;
  --mixin-kAJg5bHGOOkI_border-top-width: 1px;
  --mixin-kAJg5bHGOOkI_border-bottom-left-radius: 3px;
  --mixin-kAJg5bHGOOkI_border-bottom-right-radius: 3px;
  --mixin-kAJg5bHGOOkI_border-top-left-radius: 3px;
  --mixin-kAJg5bHGOOkI_border-top-right-radius: 3px;
  --mixin-kAJg5bHGOOkI_font-family: "Inconsolata";
  --mixin-kAJg5bHGOOkI_padding-bottom: 1px;
  --mixin-kAJg5bHGOOkI_padding-left: 4px;
  --mixin-kAJg5bHGOOkI_padding-right: 4px;
  --mixin-kAJg5bHGOOkI_padding-top: 1px;
  --mixin-kAJg5bHGOOkI_white-space: pre-wrap;
  --mixin-IhMWGlMr3PO1_border-left-color: #dddddd;
  --mixin-IhMWGlMr3PO1_border-left-style: solid;
  --mixin-IhMWGlMr3PO1_border-left-width: 3px;
  --mixin-IhMWGlMr3PO1_color: #888888;
  --mixin-IhMWGlMr3PO1_padding-left: 10px;
  --mixin-IhMWGlMr3PO1_white-space: pre-wrap;
  --mixin-uN0sZuRBdAVt_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-uN0sZuRBdAVt_border-bottom-color: #dddddd;
  --mixin-uN0sZuRBdAVt_border-bottom-style: solid;
  --mixin-uN0sZuRBdAVt_border-bottom-width: 1px;
  --mixin-uN0sZuRBdAVt_border-left-color: #dddddd;
  --mixin-uN0sZuRBdAVt_border-left-style: solid;
  --mixin-uN0sZuRBdAVt_border-left-width: 1px;
  --mixin-uN0sZuRBdAVt_border-right-color: #dddddd;
  --mixin-uN0sZuRBdAVt_border-right-style: solid;
  --mixin-uN0sZuRBdAVt_border-right-width: 1px;
  --mixin-uN0sZuRBdAVt_border-top-color: #dddddd;
  --mixin-uN0sZuRBdAVt_border-top-style: solid;
  --mixin-uN0sZuRBdAVt_border-top-width: 1px;
  --mixin-uN0sZuRBdAVt_border-bottom-left-radius: 3px;
  --mixin-uN0sZuRBdAVt_border-bottom-right-radius: 3px;
  --mixin-uN0sZuRBdAVt_border-top-left-radius: 3px;
  --mixin-uN0sZuRBdAVt_border-top-right-radius: 3px;
  --mixin-uN0sZuRBdAVt_font-family: "Inconsolata";
  --mixin-uN0sZuRBdAVt_padding-bottom: 3px;
  --mixin-uN0sZuRBdAVt_padding-left: 6px;
  --mixin-uN0sZuRBdAVt_padding-right: 6px;
  --mixin-uN0sZuRBdAVt_padding-top: 3px;
  --mixin-uN0sZuRBdAVt_white-space: pre-wrap;
  --mixin-gk28bMlOSee9_display: flex;
  --mixin-gk28bMlOSee9_flex-direction: column;
  --mixin-gk28bMlOSee9_align-items: stretch;
  --mixin-gk28bMlOSee9_justify-content: flex-start;
  --mixin-gk28bMlOSee9_list-style-position: outside;
  --mixin-gk28bMlOSee9_padding-left: 40px;
  --mixin-gk28bMlOSee9_position: relative;
  --mixin-gk28bMlOSee9_list-style-type: disc;
  --mixin-gk28bMlOSee9_white-space: pre-wrap;
  --mixin-vbV9E9IcDvvM_display: flex;
  --mixin-vbV9E9IcDvvM_flex-direction: column;
  --mixin-vbV9E9IcDvvM_align-items: stretch;
  --mixin-vbV9E9IcDvvM_justify-content: flex-start;
  --mixin-vbV9E9IcDvvM_list-style-position: outside;
  --mixin-vbV9E9IcDvvM_padding-left: 40px;
  --mixin-vbV9E9IcDvvM_position: relative;
  --mixin-vbV9E9IcDvvM_list-style-type: decimal;
  --mixin-vbV9E9IcDvvM_white-space: pre-wrap;
  --mixin-16Km6RZi4dVa_color: #000000;
  --mixin-16Km6RZi4dVa_font-size: 16px;
  --mixin-16Km6RZi4dVa_font-weight: 600;
  --mixin-16Km6RZi4dVa_line-height: 1.5;
  --mixin-16Km6RZi4dVa_white-space: pre-wrap;
  --mixin-tyWvKjlbHpS9_color: #000000;
  --mixin-tyWvKjlbHpS9_font-size: 14px;
  --mixin-tyWvKjlbHpS9_font-weight: 600;
  --mixin-tyWvKjlbHpS9_line-height: 1.5;
  --mixin-tyWvKjlbHpS9_white-space: pre-wrap;
  --mixin-cT_w0RqVV4ZV_color: #3291ff;
  --mixin-cT_w0RqVV4ZV_white-space: pre-wrap;
  --mixin-mD1HbrHvulm9_white-space: pre-wrap;
  --mixin-XiqBwTz-0AKI_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-gbkiV6h0IyHX_font-family);
  font-size: var(--mixin-gbkiV6h0IyHX_font-size);
  font-weight: var(--mixin-gbkiV6h0IyHX_font-weight);
  font-style: var(--mixin-gbkiV6h0IyHX_font-style);
  color: var(--mixin-gbkiV6h0IyHX_color);
  text-align: var(--mixin-gbkiV6h0IyHX_text-align);
  text-transform: var(--mixin-gbkiV6h0IyHX_text-transform);
  line-height: var(--mixin-gbkiV6h0IyHX_line-height);
  letter-spacing: var(--mixin-gbkiV6h0IyHX_letter-spacing);
  white-space: var(--mixin-gbkiV6h0IyHX_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-ylXFnVtgHQah_color);
  font-weight: var(--mixin-ylXFnVtgHQah_font-weight);
  font-size: var(--mixin-ylXFnVtgHQah_font-size);
  line-height: var(--mixin-ylXFnVtgHQah_line-height);
  letter-spacing: var(--mixin-ylXFnVtgHQah_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-PVj3ro7wD2Cc_color);
  font-size: var(--mixin-PVj3ro7wD2Cc_font-size);
  font-weight: var(--mixin-PVj3ro7wD2Cc_font-weight);
  line-height: var(--mixin-PVj3ro7wD2Cc_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-c3R7MMJV3hGJ_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-3z26F4EP7C7__color);
  font-size: var(--mixin-3z26F4EP7C7__font-size);
  font-weight: var(--mixin-3z26F4EP7C7__font-weight);
  line-height: var(--mixin-3z26F4EP7C7__line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-WCN1Bb5DWxOA_color);
  font-size: var(--mixin-WCN1Bb5DWxOA_font-size);
  font-weight: var(--mixin-WCN1Bb5DWxOA_font-weight);
  line-height: var(--mixin-WCN1Bb5DWxOA_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-kAJg5bHGOOkI_font-family);
  border-radius: var(--mixin-kAJg5bHGOOkI_border-top-left-radius)
    var(--mixin-kAJg5bHGOOkI_border-top-right-radius)
    var(--mixin-kAJg5bHGOOkI_border-bottom-right-radius)
    var(--mixin-kAJg5bHGOOkI_border-bottom-left-radius);
  padding: var(--mixin-kAJg5bHGOOkI_padding-top)
    var(--mixin-kAJg5bHGOOkI_padding-right)
    var(--mixin-kAJg5bHGOOkI_padding-bottom)
    var(--mixin-kAJg5bHGOOkI_padding-left);
  border-top: var(--mixin-kAJg5bHGOOkI_border-top-width)
    var(--mixin-kAJg5bHGOOkI_border-top-style)
    var(--mixin-kAJg5bHGOOkI_border-top-color);
  border-right: var(--mixin-kAJg5bHGOOkI_border-right-width)
    var(--mixin-kAJg5bHGOOkI_border-right-style)
    var(--mixin-kAJg5bHGOOkI_border-right-color);
  border-bottom: var(--mixin-kAJg5bHGOOkI_border-bottom-width)
    var(--mixin-kAJg5bHGOOkI_border-bottom-style)
    var(--mixin-kAJg5bHGOOkI_border-bottom-color);
  border-left: var(--mixin-kAJg5bHGOOkI_border-left-width)
    var(--mixin-kAJg5bHGOOkI_border-left-style)
    var(--mixin-kAJg5bHGOOkI_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-IhMWGlMr3PO1_color);
  padding-left: var(--mixin-IhMWGlMr3PO1_padding-left);
  border-left: var(--mixin-IhMWGlMr3PO1_border-left-width)
    var(--mixin-IhMWGlMr3PO1_border-left-style)
    var(--mixin-IhMWGlMr3PO1_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-uN0sZuRBdAVt_font-family);
  border-radius: var(--mixin-uN0sZuRBdAVt_border-top-left-radius)
    var(--mixin-uN0sZuRBdAVt_border-top-right-radius)
    var(--mixin-uN0sZuRBdAVt_border-bottom-right-radius)
    var(--mixin-uN0sZuRBdAVt_border-bottom-left-radius);
  padding: var(--mixin-uN0sZuRBdAVt_padding-top)
    var(--mixin-uN0sZuRBdAVt_padding-right)
    var(--mixin-uN0sZuRBdAVt_padding-bottom)
    var(--mixin-uN0sZuRBdAVt_padding-left);
  border-top: var(--mixin-uN0sZuRBdAVt_border-top-width)
    var(--mixin-uN0sZuRBdAVt_border-top-style)
    var(--mixin-uN0sZuRBdAVt_border-top-color);
  border-right: var(--mixin-uN0sZuRBdAVt_border-right-width)
    var(--mixin-uN0sZuRBdAVt_border-right-style)
    var(--mixin-uN0sZuRBdAVt_border-right-color);
  border-bottom: var(--mixin-uN0sZuRBdAVt_border-bottom-width)
    var(--mixin-uN0sZuRBdAVt_border-bottom-style)
    var(--mixin-uN0sZuRBdAVt_border-bottom-color);
  border-left: var(--mixin-uN0sZuRBdAVt_border-left-width)
    var(--mixin-uN0sZuRBdAVt_border-left-style)
    var(--mixin-uN0sZuRBdAVt_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-gk28bMlOSee9_display);
  flex-direction: var(--mixin-gk28bMlOSee9_flex-direction);
  align-items: var(--mixin-gk28bMlOSee9_align-items);
  justify-content: var(--mixin-gk28bMlOSee9_justify-content);
  list-style-position: var(--mixin-gk28bMlOSee9_list-style-position);
  padding-left: var(--mixin-gk28bMlOSee9_padding-left);
  position: var(--mixin-gk28bMlOSee9_position);
  list-style-type: var(--mixin-gk28bMlOSee9_list-style-type);
  flex-column-gap: var(--mixin-gk28bMlOSee9_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-vbV9E9IcDvvM_display);
  flex-direction: var(--mixin-vbV9E9IcDvvM_flex-direction);
  align-items: var(--mixin-vbV9E9IcDvvM_align-items);
  justify-content: var(--mixin-vbV9E9IcDvvM_justify-content);
  list-style-position: var(--mixin-vbV9E9IcDvvM_list-style-position);
  padding-left: var(--mixin-vbV9E9IcDvvM_padding-left);
  position: var(--mixin-vbV9E9IcDvvM_position);
  list-style-type: var(--mixin-vbV9E9IcDvvM_list-style-type);
  flex-column-gap: var(--mixin-vbV9E9IcDvvM_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-16Km6RZi4dVa_color);
  font-size: var(--mixin-16Km6RZi4dVa_font-size);
  font-weight: var(--mixin-16Km6RZi4dVa_font-weight);
  line-height: var(--mixin-16Km6RZi4dVa_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-tyWvKjlbHpS9_color);
  font-size: var(--mixin-tyWvKjlbHpS9_font-size);
  font-weight: var(--mixin-tyWvKjlbHpS9_font-weight);
  line-height: var(--mixin-tyWvKjlbHpS9_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-cT_w0RqVV4ZV_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
