.root {
  display: grid;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  background: var(--token-6Lhw5mK6wolF);
  position: relative;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.freeBox___8OwDt {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-jgohepLVeKvh);
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  justify-self: flex-start;
  position: relative;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px;
}
.freeBox__ivlL {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  min-width: 0;
  padding: 8px;
}
.text__lbuDn {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 900;
  font-size: 18px;
  min-width: 0;
  display: none;
  padding: 15px 60px 15px 15px;
}
.freeBox__mstl5 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 5px 0px 0px;
}
.img__eL1C5 {
  object-fit: contain;
  max-width: 25%;
}
.img__eL1C5 > picture > img {
  object-fit: contain;
}
.text__da1Xk {
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: 10px;
  padding: 2px;
}
.freeBox__uEwVs {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-self: flex-start;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px;
}
.img__pq2Ue {
  position: relative;
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.freeBox__uRbPc {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 8px 278px;
}
.freeBox___9DG4O {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 10px;
  padding: 8px;
}
.freeBox__pdUcT {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  min-width: 0;
  border-radius: 15px;
  padding: 8px 20px 8px 8px;
}
.text__tps6Z {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  align-self: center;
  font-weight: 900;
  font-size: 22px;
  min-width: 0;
  padding: 10px 10px 10px 50px;
}
.freeBox__clAk1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30px;
  background: var(--token-6u49iN2cxqzs);
  max-width: 10%;
  align-self: center;
  position: relative;
  min-width: 0;
  border-radius: 500px;
  padding: 0px;
}
.svg__c2I3H {
  position: relative;
  object-fit: cover;
  color: var(--token-GGYj13plNx6v);
  align-self: auto;
  height: 100%;
}
.freeBox__fcsEp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 10px;
  padding: 8px;
}
.freeBox__houj3 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  min-width: 0;
  border-radius: 15px;
  padding: 8px 20px 8px 8px;
}
.text__dnaxA {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  align-self: center;
  font-weight: 900;
  font-size: 22px;
  min-width: 0;
  padding: 10px 10px 10px 50px;
}
.freeBox__rvqJd {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30px;
  background: linear-gradient(
      var(--token-EueuB3d74YKA),
      var(--token-EueuB3d74YKA)
    ),
    var(--token-6u49iN2cxqzs);
  max-width: 10%;
  align-self: center;
  position: relative;
  min-width: 0;
  border-radius: 500px;
  padding: 0px;
}
.svg__fSm5Y {
  position: relative;
  object-fit: cover;
  color: var(--token-GGYj13plNx6v);
  align-self: auto;
  height: 100%;
  display: none;
}
.text__btrbG {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: #ffffff;
  font-weight: 900;
  font-size: 18px;
  min-width: 0;
}
.sideEffect__deQm8:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.freeBox___7JUiY {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 10px;
  padding: 8px;
}
.freeBox___4Cmon {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  min-width: 0;
  border-radius: 15px;
  padding: 8px 20px 8px 8px;
}
.text__rYsiN {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  align-self: center;
  font-weight: 900;
  font-size: 22px;
  min-width: 0;
  padding: 10px 10px 10px 50px;
}
.freeBox__ujb5L {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30px;
  background: var(--token-6u49iN2cxqzs);
  max-width: 10%;
  align-self: center;
  position: relative;
  min-width: 0;
  border-radius: 500px;
  padding: 0px;
}
.svg__zOjs2 {
  position: relative;
  object-fit: cover;
  color: var(--token-GGYj13plNx6v);
  align-self: auto;
  height: 100%;
}
.sideEffect__pD8Gf:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.freeBox__jicLn {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  border-radius: 10px;
  padding: 8px;
}
.freeBox__zBiv9 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  min-width: 0;
  border-radius: 15px;
  padding: 8px;
}
.text__ci46U {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  align-self: center;
  font-weight: 900;
  font-size: 22px;
  min-width: 0;
  padding: 10px;
}
.freeBox__riaTz {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  border-radius: 10px;
  padding: 8px 8px 109px;
}
.freeBox__gBxUv {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  min-width: 0;
  border-radius: 15px;
  padding: 8px;
}
.text__eyrJ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  align-self: center;
  font-weight: 900;
  font-size: 22px;
  min-width: 0;
  padding: 10px;
}
.freeBox___5Txit {
  display: flex;
  width: 100%;
  height: auto;
  background: #ffffff;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
}
.text___5Qjip {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 900;
  color: #009cff;
  font-size: 20px;
  min-width: 0;
  padding: 5px;
}
.sideEffect__dx4B:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
